.mon{
    background-color: blue;
}
.tues{
    background-color: rgb(40, 157, 157);
}
.wed{
    background-color: rgb(72, 3, 3);
}
.thrus{
    background-color: rgb(166, 94, 0);
}
.fri{
    background-color: green;
}
#box{
    background-color: blue;
}
.heading{
    background-color: red;
}
.heading{
    background-color: red;
}
.heading{
    background-color: red;
}